{% load static %}
			<div id='av_section_2' class='avia-section main_color avia-section-large avia-no-shadow avia-bg-style-scroll  avia-builder-el-12  el_after_av_section  el_before_av_section    container_wrap fullsize'   >
				<div class='container' >
					<div class='template-page content  av-content-full alpha units'>
						<div class='post-entry post-entry-type-page post-entry-3047'>
							<div class='entry-content-wrapper clearfix'>
								<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
									<div class='avia_textblock  '   itemprop="text" >
										<h1 style="text-align: center;">About the Forum
										</h1>
										<p style="text-align: center; font-size: 20px">YouthSpeak Forum is a premiere event that brings together both young and senior leaders to form a diverse cross-sector and multi-generational space to create solutions and actions to achieve the Sustainable Development Goals relevant in a specific community.
										</p>
									</div>
								</section>

                           <div class="row justify-content-md-center" style="max-width: 90%; margin : 0 auto">
                               <div class="col-md-4 text-center">
								
									<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
										<div class='avia-image-container-inner'>
											<img class='avia_image ' src="{% static 'images/logos/inspire-ysf.png' %}" alt='' title='inspire-ysf'   itemprop="thumbnailUrl"  />
										</div>
									</div>
									<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
										<div class='avia_textblock  '   itemprop="text" >
											<p style="text-align: center; font-size: 19px">Every YouthSpeak Forum is designed to inspire the delegates through power talks done by exceptional keynote speakers. We want to open the minds of delegates to think differently and spark innovative ideas.
											</p>
										</div>
									</section>
								</div>
							

                                <div class="col-md-4 text-center">
								
									<div class='avia-image-container  av-styling-    avia-builder-el-18  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
										<div class='avia-image-container-inner'>
											<img class='avia_image ' src="{% static 'images/logos/Engage-ysf.png' %}" alt='' title='Engage-ysf'   itemprop="thumbnailUrl"  />
										</div>
									</div>
									<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
										<div class='avia_textblock  '   itemprop="text" >
											<p style="text-align: center; font-size: 19px">Our partners engage with delegates to give new perspectives on SDGs through case rounds and idea generation spaces. Youth, businesses and NGOs are able to exchange opinions and learn about solutions.
											</p>
										</div>
									</section>
								</div>
							

							<div class="col-md-4 text-center">
								
									<div class='avia-image-container  av-styling-    avia-builder-el-21  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
										<div class='avia-image-container-inner'>
											<img class='avia_image ' src="{% static 'images/logos/ACT-ysf.png' %}" alt='' title='ACT-ysf'   itemprop="thumbnailUrl"  />
										</div>
									</div>
									<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
										<div class='avia_textblock  '   itemprop="text" >
											<p style="text-align: center; font-size: 19px">We provide a practical experience for delegates of co-creating solutions for SDGs with their peers and experts in the room. We connect resources and networks with the projects to enable a real impact to occur.
											</p>
										</div>
									</section>
								</div>
							</div>

						</div>
							</div>
						</div>
					</div>
					<!-- close content main div -->
				</div>
			</div>