
{% load static %}

<!--
<div class="container" >
    <div class="row justify-content-md-center">
        

        <div class="col-md-4">
            <img src="{% static 'images/pictures/AiA.png' %}" style="height: 400px ; width: 400px; margin-top: 100px; margin-bottom: 10px  "  align="left" />
        </div>

        <div class="col-md-6" style="padding-top: 30px; margin-left: 50px; padding-left: 20px ">
            
            <h1 style="margin-top: 50px; color: black ;"> Contact Information </h1>

        <div style="margin-top: 60px">
            <img class='avia_image ' src="{% static 'images/icons/user.png' %}" alt='' title='world logo' itemprop="thumbnailUrl" style="height: 60px; width : 60px ; float: left; " />
            <strong>
            <h2 style=" text-align: left; margin-top: 25px  ; margin-left: 80px  "> Local Commeittee President </h2>
            </strong>
            <div style="font-size: 2em; text-align: left; margin-top: 15px ;  ">
                <p> ----------------------- </p>
            </div>
        </div>

        <div style="margin-top: 40px">
            <img class='avia_image ' src="{% static 'images/icons/phone.png' %}" alt='' title='world logo' itemprop="thumbnailUrl" style="height: 60px; width : 60px ; float: left; " />
            <strong>
            <h2 style=" text-align: left; margin-top: 25px  ; margin-left: 80px "> Phone number </h2>
            </strong>
            <div style="font-size: 2em; text-align: left; margin-top: 15px ;  ">
                <p> ----------------------- </p>
            </div>
        </div>


        <div style="margin-top: 40px">
            <img class='avia_image ' src="{% static 'images/icons/email.png' %}" alt='' title='world logo' itemprop="thumbnailUrl" style="height: 60px; width : 60px ; float: left; " />
            <strong>
            <h2 style=" text-align: left; margin-top: 25px  ;margin-left: 80px  "> Email Adress </h2>
            </strong>
            <div style="font-size: 2em; text-align: left; margin-top: 15px ;  ">
                <p> ----------------------- </p>
            </div>
        </div>

        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>
-->

<!--

<div class="main_color fullsize" style="margin-top: 50px; width: 90%;   padding-bottom: 160px">
	<div class="row justify-content-md-center">



	<div class="col-md">

			<img  src="{% static 'images/pictures/AiA.png' %}" alt=''  style="height: 400px ; width: 400px; margin-top: 15px; margin-left: 90px; margin-bottom: 10px; background-color: #f17960ff ; float: left; " align="left" />

			   <div style="align-content: right;  margin-bottom: 30px ; padding-bottom: 50px"> 

		
		<h1 style="margin-top: 0px; text-align: center; color: black ;"> Contact Information </h1>

		<div class="container" style="text-align: left; font-size: 23px ; color: #00a1edff  ; padding-left: 50px ; margin-left: 540px; float: left; ">

		  <div>
		  	
			 <div class="row">
                    <div class="col-md-12">

			<img class='avia_image ' src="{% static 'images/icons/user.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 60px; width : 60px ; float: left; "/> 
			<h3 > Local Commeittee President </h3>
			<p> ------- </p>
		</div>
	</div>
			
		  </div>

		  <div>
		  	 <div class="row">
                    <div class="col-md-12">
			<img class='avia_image ' src="{% static 'images/icons/phone.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 60px; width : 60px ; float: left;"/> 
			<h3> Phone number </h3>
			<p> ------- </p>
		  </div>
		</div>
	</div>

		  <div>
		  	 <div class="row">
                    <div class="col-md-12">
			<img class='avia_image ' src="{% static 'images/icons/email.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 60px; width : 60px; float: left; "/> 
			<h3> Email Adress </h3>
			<p> ------- </p>
		  </div>
		</div>
	</div>

		
        </div>
    </div>

		
		</div>
	</div>
</div>
</div>
-->

<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center ' itemprop="ImageObject" itemscope="itemscope">
                <div class='avia-image-container-inner' >
                    <img class='avia_image ' src="{% static 'images/pictures/LCs/NoInfo.png' %}" itemprop="thumbnailUrl" style="height: auto; width : 100%  " />
                     
                </div>