{% load static %}
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="AIESEC &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="AIESEC &raquo; Comments Feed" href="comments/feed/index.html" />
    <link rel='stylesheet' id='avia-google-webfont' href='http://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css' media='all' />
    <link rel='stylesheet' id='fcb-main-css-css' href="{% static 'css/form.main19f6.css' %}" type='text/css' />
    <link rel='stylesheet' id='fcb-common-css-css' href="{% static 'css/common-elements19f6.css' %}" type='text/css' />
    <link rel='stylesheet' id='fcb-fontello-css-css' href="{% static 'css/fcb19f6.css' %}" type='text/css' />
    <link rel='stylesheet' id='fcb-fontello-animation-css-css' href="{% static 'css/animation19f6.css' %}" type='text/css' />
    <link rel='stylesheet' id='searchandfilter-css' href="{% static 'css/style68b3.css' %}" type='text/css' />
    <link rel='stylesheet' id='cookie-consent-style-css' href="{% static 'css/style37cb.css' %}" type='text/css' />
    <link rel='stylesheet' id='font-awesome-css' href="{% static 'css/font-awesome.min4698.css' %}" type='text/css' />
    <link rel='stylesheet' id='tm-timeline-css-css' href="{% static 'css/tm-timelinec64e.css' %}" type='text/css' />
    <link rel='stylesheet' id='mediaelement-css' href="{% static 'css/mediaelementplayer-legacy.min45a0.css' %}" type='text/css' />
    <link rel='stylesheet' id='wp-mediaelement-css' href="{% static 'css/wp-mediaelement.min37cb.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-grid-css' href="{% static 'css/grid3a05.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-base-css' href="{% static 'css/base3a05.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-layout-css' href="{% static 'css/layout3a05.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-scs-css' href="{% static 'css/shortcodes3a05.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-popup-css-css' href="{% static 'css/magnific-popup3a05.css' %}" type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-print-css' href="{% static 'css/print3a05.css' %}" type='text/css' media='print' />
    <link rel='stylesheet' id='avia-dynamic-css' href="{% static 'css/enfold_child37f6.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-custom-css' href="{% static 'css/custom3a05.css' %}" type='text/css' />
    <link rel='stylesheet' id='avia-style-css' href="{% static 'style3a05.css' %}" type='text/css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href="{% static 'css/y4gg.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css/typicons.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css/boxes.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css/FAQ.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css/FAQ2.css' %}" type='text/css' />