{% load static %}
{% block css %}
<style>
 @media screen and (max-width:480px) { 
 #Good-to-know {
    display: none;
 }
</style>
{% endblock %}
{% block scripts %}
{% endblock %}
<div class='main_color fullsize'>
	<div class="container">
		<div class="row justify-content-md-center" style="text-align: center;">
			<div class="col-md-12 text-center mt-4">
				<div class='avia_textblock'>
					<h2 style="text-align: center; color: black">
					Start your entrepreneurial journey
					</h2>

					<p style="color: black; font-size: 20px; text-align: center; font-weight: 100; margin: 0 auto; max-width: 65%;">
						Global Entrepreneur is an internship experience within a startup where young people can explore, learn and contribute to the entrepreneurial world.
					</p>
					
					</div>
				</div>
			</div>
					
					
					
					<div  class="row justify-content-md-center" style="margin-top: 60px ; max-width: 90%; padding-left: 30px">
						<div class="col-md-3 text-center">
							<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
								<div class='avia-image-container-inner'>
									<img class='avia_image ' src="{% static 'images/icons/netge.png' %}" alt='' title='inspire-ysf'   itemprop="thumbnailUrl" style="height: 80px; width : 80px " />
								</div>
							</div>
							
							<p style="margin-top: 15px; font-size: 20px"> Organization ? </p>
							<p style="font-weight: bold; font-size: 20px">
								Start-up
							</p>
						</div>
						
						<div class="col-md-3 text-center">
							<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
								<div class='avia-image-container-inner'>
									<img class='avia_image ' src="{% static 'images/icons/calge.png' %}" alt='' title='inspire-ysf'   itemprop="thumbnailUrl" style="height:80px; width : 80px " />
								</div>
							</div>
							<p style="margin-top: 15px; font-size: 20px"> How long ?</p>
							<p style="font-weight: bold; font-size: 20px">
								6 to 12 weeks
							</p>
						</div>
						
						
						
						 <div class="col-md-3 text-center">
							<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
								<div class='avia-image-container-inner'>
									<img class='avia_image ' src="{% static 'images/icons/hge.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 80px; width : 80px "/>
								</div>
							</div>
							<p style="margin-top: 15px; font-size: 20px"> Benifits ?</p>
							<p style="font-weight: bold; font-size: 20px">
								Housing provided
							</p>
						</div>
						
						
						 <div class="col-md-3 text-center">
							<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
								<div class='avia-image-container-inner'>
									<img class='avia_image ' src="{% static 'images/icons/mon.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 80px; width : 80px "/>
								</div>
							</div>
							<p style="margin-top: 15px; font-size: 20px"> How much ?</p>
							<p style="font-weight: bold; font-size: 20px">
								17000 DA
							</p>
						</div>
						
					</div>
				</div>

					
					<div style="align-items: center; align-content: center;">
						<div  style="margin-top: 0; padding-top: 0">
							<div class='container' >
								<div class='content'>
									<div class='avia-button-wrap avia-button-center  avia-builder-el-84  el_after_av_textblock  el_before_av_hr  '>
										<a href='http://www.AIESEC.org' class='avia-button   avia-icon_select-no avia-color-theme-color avia-size-x-large avia-position-center '   >
											<span class='avia_iconbox_title' >Sign up now!
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-md-1">
                    </div>

					
						<div class="col-md-4">
						<img  src="{% static 'images/pictures/PicGE.jpg' %}" alt=''  style="height: 400px ; width: 400px; margin-top: 10px;  margin-bottom: 10px  " align="left" />
					    </div>

					    <div class="col-md-6" style="margin-top: 20px; ">
						
							<strong><h2 style=" text-align: left; margin-top: 25px ; color: #44bb9bff ; "> Companies want international talent </h2> </strong>
							 <div style="font-size: 15px; text-align: left; margin-top: 15px ; ">
								<p> You can gain experience in new work settings, equip yourself with skills needed cross-culturally and bring a fresh perspective for companies.</p>
							</div>
							<h2 style=" text-align: left; margin-top: 25px ;  color: #44bb9bff ; "> Find the industry for you </h2>
							<div style="font-size: 15px; text-align: left; margin-top: 15px ;  ">
								<p> Our pool of opportunities are growing across fields – we’re sure you’ll find one best fitting your background and experiences.</p>
							</div>
							
							 <h2 style=" text-align: left; margin-top: 25px ;  color: #44bb9bff ; "> Gain a professional edge</h2>
							<div style="font-size: 15px; text-align: left; margin-top: 15px ;   ">
								<p> Our partners are dedicated to providing you an enriching experience sure to put you ahead of your peers.</p>
							</div>
						</div>
					</div>
				</div>
				

					<div class="content">
						<!--
						<p style="text-align: center;margin-top: 10px; color: #037ef3ff; font-size: 35px" > Exemple of our projects </p>
						<div class="main_color avia-full-stretch  fullsize" style="background-repeat: repeat; background-image: url({% static 'images/pictures/morocco.jpg' %}); background-attachment: scroll; background-position: center; background-size: cover; height: 70vh; width: 100vh; margin-right: auto; margin-left: auto; margin-top: 40px ">
									<div class='container' >
										<div class='content'>
												
											
										
										
									<div  style=' margin-top: 300px; margin-right: auto; margin-left: auto; align-content: center; '>
											
										<button style="
										background-color: white;
										opacity: 0.8;
										display: block;
										border-radius: 15px;
										width: 140px;
										padding: 8px;
										
										border: 2px solid #037ef3ff;
										text-align: center;
										outline: none;
										text-decoration: none;"><a href='http://www.aiesec.org' style="border-color: white; border-width: 4px "  >
														
														<span class='avia_iconbox_title' style="font-size: 18px"> <b>Apply</b>
														</span>
												</a>
											</button>
												<div style='height:50px;' class='hr hr-invisible  el_before_av_one_half  '>
														<span class='hr-inner'><span class='hr-inner-style'></span></span>
												</div>
									</div>
								</div>
							</div>
						</div>
						-->
						<div id = "Good-to-know" style="padding-top: 20px">
							<div style="background-repeat: no-repeat; background-image: url({% static 'images/pictures/CoverGE.png' %}); background-attachment: scroll; background-position: center; ; background-size: cover ; height: 76vh; width: 100%; padding-top: 0px; padding-bottom: 0px ;  display: inline-block;" >
								<div style=" margin-left: 780px;  padding-left: 200px ;  margin-bottom: 0px; align-content: left; margin-top: 210px; position: absolute;" >
									<button style="
									background-color: white;
									opacity: 0.6;
									display: block;
									border-radius: 15px;
									width: 180px;
									height: 80px;
									padding: 8px;
									
									border: 3px solid;
									border-color: white ;
									text-align: center;
									outline: none;
									text-decoration: none;">
									<a href="{% url 'index' %}#our-process" >
										<b>  How does it work ? </b>
									</a>
									</button>
								</div>
								<div style=" margin-top: 20px; padding-top: 25px; align-content: left; padding-left: 50px;" align="left">
									<h1 style="color: white "> <strong> Good to know: </strong></h1>
									<div style="margin-left: 15px; margin-right: 700px  ; color: white ;font-size: 24px " >
										<p> - Signing up & applying is free </p>
										<p> - You only pay once you have been accepted for a project </p>
										<p> - Global Entrepreneur internships are not paid! </p>
										<p> - If additional fees apply, this is also stated in the opportunity </p>
										<p> - You are supported from start to finish by AIESEC in Algeria and AIESEC abroad </p>
									</div>
								</div>
							</div>
						</div>
					</div>

					
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-md-8 mb-4">
								<p style="text-align: center;margin-top: 60px; color: #30c39eff; font-size: 35px"> Frequently Asked Questions </p>
								<div id="accordion">
									<div class="card">
										<div class="card-header" id="headingOne" style=" background-color: #fff;">
											<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #30c39eff;">
											When can I do a Global Entrepreneur project?
											</button>
											</h5>
										</div>
										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body">
												Projects are available all year long. However, most of the internships run either in summer (June-August) or winter (December-February).
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="heading2" style=" background-color: #fff;">
											<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" style="color: #30c39eff;"> Do i get paid? </button>
											</h5>
										</div>
										<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
											<div class="card-body">
												Global Entrepreneur is in itself a non-paid project in which accommodation is provided. Although this accommodation is the basis, some projects as well cover food, transportation or even give you a financial compensation.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="heading3" style=" background-color: #fff;">
											<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" style="color: #30c39eff;"> How long in advance should I start applying </button>
											</h5>
										</div>
										<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
											<div class="card-body">
												In general we advise to start applying 2,5 month in advance. At this point in time most of the projects for the time that you would like to go are available and you have still time to look around and apply to several different projects.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="heading4" style=" background-color: #fff;">
											<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" style="color: #30c39eff;"> What is the right Global Entrepreneur background and how important is it? </button>
											</h5>
										</div>
										<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
											<div class="card-body">
												It really depends on the opportunity which background is preferred. Most of the time it is very flexible, but you can have a look at the opportunity since sometimes skills are put as preferred whereas sometimes they are required.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="heading4" style=" background-color: #fff;">
											<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" style="color: #30c39eff;"> In which countries can i find Global Entrepreneur </button>
											</h5>
										</div>
										<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
											<div class="card-body">
												The opportunities in the portal are from all over the world. However, the most opportunities can be found in Latin America, Europe and Asia Pacific.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main_color avia-full-stretch av-section-color-overlay-active fullsize" ; style="margin: 0; padding : 0; background-repeat: no-repeat; background-image: url({% static 'images/pictures/2.jpg' %}); max-height: 100%; background-attachment: scroll; background-position: center right; color: #fff;  ">
						<div  >
							<div class='content'>
								<section class="av_textblock_section">
									<div class='avia_textblock'>
										<div style='height: 150px' class='hr hr-invisible  el_before_av_one_half  '>
											<span class='hr-inner'><span class='hr-inner-style'></span></span>
											
											<div class='hr hr-invisible  el_before_av_one_half  '>
												<span class='hr-inner'><span class='hr-inner-style'>
													
													<div class='avia-button-wrap avia-button-center  avia-builder-el-84  el_after_av_textblock  el_before_av_hr  '>
														<a href='http://www.AIESEC.org' class='avia-button   avia-icon_select-no avia-color-theme-color avia-size-x-large avia-position-center '   >
															<span class='avia_iconbox_title' >Sign up now!
															</span>
														</a>
													</div>
												</span>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
					</div>
