{% load static %}
			<div id='av_section_2' class='avia-section main_color avia-section-large avia-no-shadow avia-bg-style-scroll  avia-builder-el-12  el_after_av_section  el_before_av_section    container_wrap fullsize'   >
				<div class='container' >
					<div class='template-page content  av-content-full alpha units'>
						<div class='post-entry post-entry-type-page post-entry-3047'>
							<div class='entry-content-wrapper clearfix'>
								<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
									<div class='avia_textblock  '   itemprop="text" >
										<h1 style="text-align: center;">About Global Village
										</h1>
										<p style="text-align: center; font-size: 20px">Global Village is the biggest celebration of cultures from around the world.! Global Village encourages social sustainability, world awareness, and cultural understanding. People showcased their nations through singing, dancing, food, customs, costumes, music and traditions.
The best and the most passionate exchange participants/interns from around the world showcased their culture in a dynamic cultural exchange fair with dedicated country booths and a wide spectacle of cultural performances.
										</p>
									</div>
								</section>	
							</div>
						</div>
					</div>
					<!-- close content main div -->
				</div>
			</div>



<div class="main_color fullsize">
	<div class="content">

		

		<div id='av_section_3'
			class='avia-section alternate_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-35  el_after_av_section  el_before_av_layout_row    container_wrap fullsize'
			>

			<div class="row justify-content-md-center">
				<div class="col-md-5">
					<img src="{% static 'images/pictures/Gbv.png' %}" alt="" title="picture of host family"
						style="height: 500px ; width: 500px; margin-top: 10px; margin-bottom: 10px;" />
				</div>

				<div class="col-md-6" style="margin-top: 20px; ">
					<div style="align-content: right; border-color: #073ef7; border-width: 3px; padding-top: 20px">

						<h2 style=" text-align: center; margin-top: 20px ; color: #f7be27ff "><strong> AIESEC is an organization of which the vision is:
 ” Peace and Fulfillment of the Human Kind Potential “  </strong></h2>
						<div style="font-size: 20px; text-align: center; margin-top: 10px ; line-height: 20px ">
							<p> AIESEC strives for its vision, and as part of its strenuous efforts to achieve the vision and meet the expectations of the Algerian Youth; AIESEC organizes the event called “Global Village“. </p>
							<p>Global Village is mainly organized to be held once to twice a year in one of Algeria’s cities where we gather with the exchange participants who came from different countries to be part of the projects managed here in Algeria. Despite our differences, for the event we come all together as world citizens to demonstrate diversity and unity.</p>
							
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="main_color fullsize">
	<div class="content">

		

		<div id='av_section_3'
			class='avia-section alternate_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-35  el_after_av_section  el_before_av_layout_row    container_wrap fullsize'
			>

			<div class="row justify-content-md-center">
				

				<div class="col-md-6" style="margin-top: 20px; ">
					<div style="align-content: left; border-color: #073ef7; border-width: 3px; padding-top: 20px">

						<h2 style=" text-align: center; margin-top: 20px ; color: #f7be27ff "><strong> What do we do in global village ? and can you participate ? </strong></h2>
						<div style="font-size: 20px; text-align: center; margin-top: 10px ; line-height: 20px ">
							<p> The event is a diversity party, full of life and colors where you will see different people from different places wearing their cultures by showcasing their traditional clothes, speaking up their identity by sharing informations about their cultures and traditions that you might never heard of before. They will also carry the smell and taste of their regions and origins with them in the form of tasty traditional food that they will share with everyone around in such a joy and entertainment … </p>
							<p>Attending the Global village is a chance to: explore the world with no flight tickets, develop your world citizenship, opening up to new and different perspectives, and a lot of fun living diversity …</p>
							
						</div>

					</div>

				</div>

				<div class="col-md-5">
					<img src="{% static 'images/pictures/Gbv2.png' %}" alt="" title="picture of host family"
						style="height: 500px ; width: 500px; margin-top: 10px; margin-bottom: 10px;" />
				</div>

			</div>
		</div>
	</div>
</div>

<div class="main_color fullsize" style="margin-bottom: 300px ;">
	<div class="content">

		

		<div id='av_section_3'
			class='avia-section alternate_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-35  el_after_av_section  el_before_av_layout_row    container_wrap fullsize'
			>

			<div class="row justify-content-md-center">
				

				<div class="col-md-12" style="  width: 70%, margin : 0 auto ; ">
					<div style="align-content: right; border-color: #073ef7; border-width: 3px; padding-top: 20px">

						<h2 style=" text-align: center; margin-top: 10px ; color: black "><strong> The event has its doors <span style="color: #f7be27ff "> open </span> to the world. It is a <span style="color: #f7be27ff ">rich experience </span> that everyone should join to shake off the borders and <span style="color: #f7be27ff ">dance off the ignorance </span> following the exciting cultural beats which sounds so much like <span style="color: #f7be27ff "> a peaceful harmony. </span> </strong></h2>
						

					</div>

				</div>
			</div>
		</div>
	</div>
</div>