{% load static %}
{% block css %}
<style>
 @media screen and (max-width:480px) { 
 #Good-to-know {
    display: none;
 }
   }  
</style>
{% endblock %}
{% block scripts %}
 {% endblock %}



<div class="container">
     <div class="row justify-content-md-center">
        <div class="col-md-12 text-center mt-4">
					<h1 style="text-align: center; color: black"> 
						 international internships
					</h1>
					
					<p style="color: black; font-size: 20px; text-align: center; font-weight: 100; margin: 0 auto; max-width: 65%; ">
						Global Talent is an internship experience for young people aiming towards professional career development in a global setting.
					</p>
	    </div>
      </div>
               
			

	
 <div class="row justify-content-md-center" style="max-width: 90%; margin : 0 auto">
    <div class="col-md-3 text-center">
           <div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
		   <div class='avia-image-container-inner'>
			<img class='avia_image ' src="{% static 'images/icons/netgt.png' %}" alt='' title='inspire-ysf'   itemprop="thumbnailUrl" style="height: 80px; width : 80px " />
		   </div>
		</div>
					
		<p style="margin-top: 15px; font-size: 20px"> Organization ? </p>
		<p style="font-weight: bold; font-size: 20px"> Company </p>
	</div>			

		
	<div class="col-md-3 text-center">			                
	    <div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
		<div class='avia-image-container-inner'>
			<img class='avia_image ' src="{% static 'images/icons/calgt.png' %}" alt='' title='inspire-ysf'   itemprop="thumbnailUrl" style="height:80px; width : 80px " />
		</div>
		</div>

	    <p style="margin-top: 15px; font-size: 20px"> How long ?</p>
		<p style="font-weight: bold; font-size: 20px"> 3 to 18 months </p>
				
	</div>	
					
					
	<div class="col-md-3 text-center">				
						             <div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
										<div class='avia-image-container-inner'>
											<img class='avia_image ' src="{% static 'images/icons/bgt.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 80px; width : 80px "/>
										</div>
									</div>
					<p style="margin-top: 15px; font-size: 20px"> Benifits ?</p>
					<p style="font-weight: bold; font-size: 20px"> 
						Paid
					</p>
	</div>			
				   

	<div class="col-md-3 text-center">			   
						             <div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" >
										<div class='avia-image-container-inner'>
											<img class='avia_image ' src="{% static 'images/icons/mon.png' %}" alt='' title='world logo'   itemprop="thumbnailUrl"  style="height: 80px; width : 80px "/>
										</div>
									</div>
					<p style="margin-top: 15px; font-size: 20px"> How much ?</p>
					<p style="font-weight: bold; font-size: 20px">
						20000 DA
					</p>

				  
	</div>
</div>
</div>
           

		

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center mt-4">
										<a href='http://www.AIESEC.org' class='avia-button   avia-icon_select-no avia-color-theme-color avia-size-x-large avia-position-center '   >
											<span class='avia_iconbox_title' >Sign up now!
											</span>
										</a>
	   </div>
      </div>
</div>






	
<div class="container">
    <div class="row justify-content-md-center">
    	<div class="col-md-1">
        </div>
    <div class="col-md-4">
       <img  src="{% static 'images/pictures/gtt.jpg' %}" alt='' title='picture' style="height: 400px ; width: 400px;  margin-top: 60px; margin-bottom: 10px  "  align="left" />
    </div>

     <div class="col-md-6" style="margin-top: 35px; "> 

     	<strong>
     		<h2 style=" text-align: left; margin-top: 25px ; color: #138e9eff;  "> Companies want international talent </h2>
     	 </strong>
     	<div style="font-size: 15px; text-align: left; margin-top: 15px; ">
     		<p> 
You can gain experience in new work settings, equip yourself with skills needed cross-culturally </p>
<p> and bring a fresh perspective for companies.</p>
     	</div>

     	<h2 style=" text-align: left; margin-top: 25px ; color: #138e9eff ;  "> Find the industry for you </h2>
     	
     	<div style="font-size: 15px; text-align: left; margin-top: 15px; ">
     		<p> Our pool of opportunities are growing across fields – we’re sure you’ll find one best fitting </p>
     			<p> your background and experiences.</p>
     	</div>
        
        <h2 style=" text-align: left; margin-top: 25px ; color: #138e9eff;  "> Gain a professional edge </h2>
     	<div style="font-size: 15px; text-align: left; margin-top: 15px ;  ">
     		<p> Our partners are dedicated to providing you an enriching experience sure to put you </p>
     			<p> ahead of your peers.</p>
        </div>
</div>
</div>
</div>


<div class="content">

<!--
<p style="text-align: center;margin-top: 10px; color: #037ef3ff; font-size: 35px" > Exemple of our projects </p>



<div class="main_color avia-full-stretch  fullsize" style="background-repeat: repeat; background-image: url({% static 'images/pictures/morocco.jpg' %}); background-attachment: scroll; background-position: center; background-size: cover; height: 70vh; width: 100vh; margin-right: auto; margin-left: auto; margin-top: 40px ">
		<div class='container' >
		<div class='content'>
			
		
	
	
<div  style=' margin-top: 300px; margin-right: auto; margin-left: auto; align-content: center; '>
	
<button style=" 
background-color: white;
opacity: 0.8;
display: block;
border-radius: 15px;
  width: 140px;
  padding: 8px;
  
  border: 2px solid #037ef3ff;
  text-align: center;
  outline: none;
  text-decoration: none;"><a href='http://www.aiesec.org' style="border-color: white; border-width: 4px "  >
			
			<span class='avia_iconbox_title' style="font-size: 18px"> <b>Apply</b>
			</span>
		</a>
	</button>
		<div style='height:50px;' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		</div>
</div>
</div>



</div>
</div>

-->
 

<div id = "Good-to-know" style="padding-top: 20px">

<div style="background-repeat: no-repeat; background-image: url({% static 'images/pictures/gtcover.png' %}); background-attachment: scroll; background-position: center; ; background-size: cover ; height: 76vh; width: 100%; padding-top: 0px; padding-bottom: 0px ;  display: inline-block;" >


	 <div style=" margin-left: 780px;  padding-left: 200px ;  margin-bottom: 0px; align-content: left; margin-top: 210px; position: absolute;" >
                                    <button style="
                                    background-color: white;
                                    opacity: 0.6;
                                    display: block;
                                    border-radius: 15px;
                                    width: 180px;
                                    height: 80px;
                                    padding: 8px;
                                    
                                    border: 3px solid;
                                    border-color: white ;
                                    text-align: center;
                                    outline: none;
                                    text-decoration: none;">
                                    <a href="{% url 'index' %}#our-process" >
                                        <b>  How does it work ? </b>
                                    </a>
                                    </button>
                                </div>


	<div style=" margin-top: 25px; padding-top: 0px; align-content: left; padding-left: 50px;" align="left">
<h1 style="color: white "> 
	<strong> Good to know: </strong>
</h1>
<div style="margin-left: 15px; margin-right: 700px  ; color: white ;font-size: 24px " >
<p> - Signing up & applying is free </p>
<p> - You only pay once you have been accepted for a project </p>
<p> - Global Talent internships are paid! The wage will differ per country, but will be enough to cover housing and food. </p>
<p> - If additional fees apply, this is also stated in the opportunity </p>
<p> - You are supported from start to finish by AIESEC in Algeria and AIESEC abroad </p>
</div>
</div>

</div>
</div>

</div>



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 mb-4">
            <p style="text-align: center;margin-top: 60px; color: #138e9eff; font-size: 35px"> Frequently Asked Questions </p>
            <div id="accordion">
	            <div class="card">
	                <div class="card-header" id="headingOne" style=" background-color: #fff;">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #138e9eff;">
	                            When can i do a professional internship?
	                        </button>
	                    </h5>
	                </div>
	                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
	                    <div class="card-body">
	                        Projects are available all year long, so you can go at any date. However, busiest times for projects are during summer and winter
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header" id="heading2" style=" background-color: #fff;">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" style="color: #138e9eff;"> Do i get paid? </button>
	                    </h5>
	                </div>
	                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
	                    <div class="card-body">
	                        Yes, you do get paid. Wages differ per opportunity, but this always indicated in our online portal. It will always be sufficient to cover housing and most of your food.
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header" id="heading3" style=" background-color: #fff;">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" style="color: #138e9eff;"> How long in advance should i start applying </button>
	                    </h5>
	                </div>
	                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
	                    <div class="card-body">
	                        In general we advise to start applying three to four months in advance. At this point in time most of the projects for the time that you would like to go are available and you have still time to look around and apply to several different projects.
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header" id="heading4" style=" background-color: #fff;">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" style="color: #138e9eff;"> What is the right background and how important is it? </button>
	                    </h5>
	                </div>
	                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
	                    <div class="card-body">
	                        Most Global Talent internships are related to business & economics. Project for studies such as (international) business administration, economics, supply chain management, strategic management are very common. We also have a lot of IT, marketing and engineering internships. Are you not sure whether your profile is a match? Don’t hesitate to contact your contact your local AIESEC office.
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>


<div class="main_color avia-full-stretch av-section-color-overlay-active fullsize" ; style="margin: 0; padding : 0; background-repeat: no-repeat; background-image: url({% static 'images/pictures/2.jpg' %}); max-height: 100%; background-attachment: scroll; background-position: center right; color: #fff;  ">
<div  >
		<div class='content'>
			<section class="av_textblock_section">
				<div class='avia_textblock'>
		<div style='height: 150px' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		
		<div class='hr hr-invisible  el_before_av_one_half  '>
				<span class='hr-inner'><span class='hr-inner-style'>
		  
		<div class='avia-button-wrap avia-button-center  avia-builder-el-84  el_after_av_textblock  el_before_av_hr  '>
										<a href='http://www.AIESEC.org' class='avia-button   avia-icon_select-no avia-color-theme-color avia-size-x-large avia-position-center '   >
											<span class='avia_iconbox_title' >Sign up now!
											</span>
										</a>
									</div>
		</span>
		</div>	 
</div>

</section>
</div>
</div>
</div>
</div>

  
