{% load static %}
{% block css %}
{% endblock %}

<div class="main_color avia-full-stretch av-section-color-overlay-active fullsize" ; style="margin: 0; padding : 0; background-repeat: no-repeat; background-image: url({% static 'images/pictures/GT.png' %}); max-height: 100%; background-attachment: scroll; background-position: center right; color: #fff;  ">
<div  >
		<div class='content'>
			<section class="av_textblock_section">
				<div class='avia_textblock'>
		<div style='height: 400px' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		
		<div class='hr hr-invisible  el_before_av_one_half  '>
				<span class='hr-inner'><span class='hr-inner-style'>
<h2 style="color: #fff; text-align: center; font-size: 2,5em; margin-top: 180px; ">
		<strong> Go on a Professional Internship
			<p><span style="color: #fff; text-align: center; font-size: 1,5em; margin-top: 10px; " >with AIESEC in Algeria ! </span></p>
			</strong>
	</h2>	  
		
		</span>
		</div>	 
</div>
</div>
</section>
</div>
</div>
</div>
</div>