{% load static %}
			<div id='main' class='all_colors' data-scroll-offset='88'>
				<div id='av_section_1' class='avia-section main_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-0  el_before_av_section  avia-builder-el-first    av-minimum-height av-minimum-height-100 av-section-with-video-bg container_wrap fullsize'    data-section-video-ratio='16:9' >
					<div  data-size='featured'  data-lightbox_size='large'  data-animation='slide'  data-ids=''  data-video_counter='1'  data-autoplay='false'  data-bg_slider='false'  data-slide_height=''  data-handle=''  data-interval='5'  data-class=' av-section-video-bg'  data-css_id=''  data-scroll_down=''  data-control_layout=''  data-custom_markup=''  data-perma_caption=''  data-autoplay_stopper=''  data-image_attachment=''  data-min_height='0px'  data-default-height='28.666666666667'  class='avia-slideshow avia-slideshow-1  av-default-height-applied avia-slideshow-featured   av-section-video-bg avia-slide-slider '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject" >
						<ul class='avia-slideshow-inner' style='padding-bottom: 28.666666666667%;'>
							<li  data-controls='disabled' data-mute='1' data-loop='1' data-disable-autoplay=''  data-video-ratio='3.4883720930233' class=' av-video-slide  av-video-service-youtube  av-hide-video-controls av-mute-video av-loop-video av-single-slide slide-1 ' >
								<div data-rel='slideshow-1' class='avia-slide-wrap'  >
									<div class='av-click-overlay'>
									</div>
									<div class='mejs-mediaelement'>
										<div height='1600' width='900' class='av_youtube_frame' id='player_3047_664132247_1564084382'  data-autoplay='0'  data-videoid='dRDXqM31OM4'  data-hd='1'  data-rel='0'  data-wmode='opaque'  data-playlist='player_3047_664132247_1564084382'  data-loop='0'  data-version='3'  data-autohide='1'  data-color='white'  data-controls='0'  data-showinfo='0'  data-iv_load_policy='3' >
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class='container' >
						<main  role="main" itemprop="mainContentOfPage"  class='template-page content  av-content-full alpha units'>
							<div class='post-entry post-entry-type-page post-entry-3047'>
								<div class='entry-content-wrapper clearfix'>
									<div class="flex_column av_two_third  flex_column_div av-zero-column-padding first  avia-builder-el-1  el_before_av_one_third  avia-builder-el-first  " style='border-radius:0px; '>
										<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
											<div class='avia_textblock jh_jsf '   itemprop="text" >
												<h1>YouthSpeak Forum
												</h1>
												<p>Be part of the solution to create positive change. Be a Leader for the World.
												</p>
												<hr style="height: 100px;" />
												<p>The next YouthSpeak Forum will be :
												</p>
												<h2 style="margin-top:0px !important;">Coming Soon.. Stay Tuned!
												</h2>
											</div>
										</section>
									</div>
									
									<div class="flex_column av_one_third  flex_column_div av-zero-column-padding   avia-builder-el-3  el_after_av_two_third  el_before_av_hr  " style='border-radius:0px; '>
										<div class='avia-image-container  av-styling-    avia-builder-el-4  avia-builder-el-no-sibling   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
											<div class='avia-image-container-inner'>
												<img class='avia_image ' src="{% static 'images/logos/Youth-Speak-Forum-logo-white-300x287.png' %}" alt='' title='Youth Speak Forum logo white'   itemprop="thumbnailUrl"  />
											</div>
										</div>
									</div>

									<div style='height:150px' class='hr hr-invisible   avia-builder-el-5  el_after_av_one_third  el_before_av_one_fourth  '>
										<span class='hr-inner ' >
											<span class='hr-inner-style'>
											</span>
										</span>
									</div>


									

									<div class="row justify-content-md-center" style="text-align: center;" >
									
                                 <div class="col-md-6 mt-4 ">

									
                           
										<div>
											<a href='mailto:algeria@aiesec.net' class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-position-right '   >
												
												<span  >Regsiter
												</span>
											</a>
										</div>
									</div>
                                    

									 <div class="col-md-6  mt-4">
									
										<div >
											<a href='mailto:algeria@aiesec.net' class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-position-left '   >
												
												<span  >Become a partner
												</span>
											</a>
										</div>
									</div>
									
								</div>
								</div>
								</div>
							</div>
						</main>
						<!-- close content main element -->
					</div>
				</div>