{% load static %}

{% block css %}
{% endblock %}
<style>
	#overlay {
  position: relative; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: auto; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
</style>

<div class="main_color avia-full-stretch av-section-color-overlay-active fullsize" ; style="margin: 0; padding : 0; background-repeat: no-repeat; background-image: url({% static 'images/pictures/coverjoinaiesec.png' %}); max-height: 100%; background-attachment: scroll; background-position: center right; color: #fff;  ">
<div  >
		<div class='content'>
			<section class="av_textblock_section">
				<div class='avia_textblock'>
		<div style='height:300px' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		</div>
<!-- 	<h1 style="color: #fff; text-align: center;">
		Be an AIESECer !
	</h1> -->	
	 <div id="overlay"></div>   
	<img src="{% static 'images/logos/beanaiesecer.png' %}" alt="">
		<div style='height:20px' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		</div>	 
</div>
</section>
</div>
</div>
</div>

<!--
			<div id='main' class='all_colors' data-scroll-offset='88'>
				<div id='av_section_1' class='avia-section main_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-0  el_before_av_section  avia-builder-el-first    av-minimum-height av-minimum-height-100 av-section-with-video-bg container_wrap fullsize'    data-section-video-ratio='16:9' >
					<div  data-size='featured'  data-lightbox_size='large'  data-animation='slide'  data-ids=''  data-video_counter='1'  data-autoplay='false'  data-bg_slider='false'  data-slide_height=''  data-handle=''  data-interval='5'  data-class=' av-section-video-bg'  data-css_id=''  data-scroll_down=''  data-control_layout=''  data-custom_markup=''  data-perma_caption=''  data-autoplay_stopper=''  data-image_attachment=''  data-min_height='0px'  data-default-height='28.666666666667'  class='avia-slideshow avia-slideshow-1  av-default-height-applied avia-slideshow-featured   av-section-video-bg avia-slide-slider '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject" >
						<ul class='avia-slideshow-inner' style='padding-bottom: 28.666666666667%;'>
							<li  data-controls='disabled' data-mute='1' data-loop='1' data-disable-autoplay=''  data-video-ratio='3.4883720930233' class=' av-video-slide  av-video-service-youtube  av-hide-video-controls av-mute-video av-loop-video av-single-slide slide-1 ' >
								<div data-rel='slideshow-1' class='avia-slide-wrap'  >
									<div class='av-click-overlay'>
									</div>
									<div class='mejs-mediaelement'>
										<div height='1600' width='900' class='av_youtube_frame' id='player_3047_664132247_1564084382'  data-autoplay='0'  data-videoid='yEV-O23eHEc'  data-hd='1'  data-rel='0'  data-wmode='opaque'  data-playlist='player_3047_664132247_1564084382'  data-loop='0'  data-version='3'  data-autohide='1'  data-color='white'  data-controls='0'  data-showinfo='0'  data-iv_load_policy='3' >
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class='container' >
						<main  role="main" itemprop="mainContentOfPage"  class='template-page content  av-content-full alpha units'>
							<div class='post-entry post-entry-type-page post-entry-3047'>
								<div class='entry-content-wrapper clearfix'>
									<div class="flex_column flex_column_div av-zero-column-padding" style='border-radius:0px; '>
										<div class='avia-button-wrap'>
											<a href='#av_section_3' class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-size-x-large avia-position-middle '   >
												<span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'>
												</span>
												<span class='avia_iconbox_title' >Learn More
												</span>
											</a>
										</div>
									</div>
									<div class="flex_column av_one_fourth  flex_column_div av-zero-column-padding   avia-builder-el-11  el_after_av_one_fourth  avia-builder-el-last  " style='border-radius:0px; '>
									</div>
								</div>
							</div>
						</main>
						close content main element 
					</div>
				</div>
			-->

