{% load static %}

<style>
	#host-banner {
		margin: 0;
		padding: 0;
		background-repeat: no-repeat;
		max-height: 100%;
		background-attachment: scroll;
		background-position: center left 15%;
		background-size: cover;
		color: #fff;
		background-image: url({% static 'images/pictures/HostMe2.png' %});
	}
</style>

<div id="host-banner" class="main_color avia-full-stretch av-section-color-overlay-active fullsize">
	<div>
		<div class='content'>
			<section class="av_textblock_section">
				<div class='avia_textblock'>
					<div style='height: 600px' class='hr hr-invisible  el_before_av_one_half  '>
						<span class='hr-inner'><span class='hr-inner-style'></span></span>


					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</div>