{% load static %}

<div class="main_color fullsize">
	<div class="content">

		<div class="row justify-content-md-center" style="text-align: center;">
			<div class="col-md-12 text-center mt-4">
				<h1 style=" text-align: center; margin-top: 5px ; color: #037ef3ff ">
					Dayafni “Host me”
				</h1>


				<div style="text-align: center; font-size: 20px;  margin-top: 20px">
					<p>
						AIESEC in Algeria is looking for you to host </p>
					<span> and share your culture with our exchange participants.
					</span>

				</div>
			</div>
		</div>

		<div id='av_section_3'
			class='avia-section alternate_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-35  el_after_av_section  el_before_av_layout_row    container_wrap fullsize'
			style="margin-top: 50px">

			<div class="row justify-content-md-center">
				<div class="col-md-5">
					<img src="{% static 'images/pictures/host1.jpg' %}" alt="" title="picture of host family"
						style="height: 500px ; width: 500px; margin-top: 10px; margin-bottom: 10px;" />
				</div>

				<div class="col-md-6" style="margin-top: 20px; ">
					<div style="align-content: right; border-color: #073ef7; border-width: 3px; padding-top: 20px">

						<h2 style=" text-align: center; margin-top: 20px ; color: #f7be27ff "><strong> Why host an
								exchange participant ? </strong></h2>
						<div style="font-size: 20px; text-align: center; margin-top: 10px ; line-height: 20px ">
							<p> Expand your international network.</p>
							<p>Learn a new language and culture.</p>
							<p> Share your tradition and the algerian hospitality.</p>
							<p>Experience a crosscultural environment.</p>
							<p> Share the global village with the exchange participant.
							</p>
						</div>




						<h2 style=" text-align: center; margin-top: 10px ; color: #f7be27ff "> <strong>What are you
								expected to do ?</strong></h2>
						<div style="font-size: 20px; text-align: center; margin-top: 10px ; line-height: 20px ">
							<p> Provide a bed, a personal space for the exchange participant.</p>
							<p>Provide one meal per day.</p>
							<p>Provide a bathroom.</p>
							<p>AIESEC will provide pick up and assistance.</p>
							<p> The exchange participant will provide his own insurance.</p>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<div class='main_color fullsize' style="margin-bottom: 0px; padding-bottom: 0px;  margin: 0 auto ; margin-top: 50px ">
	<div class='container'>
		<div class='content'>



			<div class="row justify-content-md-center" style="max-width: 90%; margin : 0 auto">
				<div class="col-md-4 text-center">


					<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '
						itemprop="ImageObject" itemscope="itemscope">
						<div class='avia-image-container-inner'>
							<img class='avia_image ' src="{% static 'images/icons/who.png' %}" alt=''
								title='inspire-ysf' itemprop="thumbnailUrl" style="height: 90px; width : 90px " />
						</div>
					</div>

					<h2 style="color: #7ac8d2ff; text-align: center;"> <strong> Who will you host? </strong> </h2>
					<p style="text-align: center; font-size: 20px">
						You will host exchange participants between 18 and 30 years old from different countries
						participating in programs of 6 to 8 weeks to act towards sustainable development goals and
						create an impact in the society, they will work from 8 am to 4 pm.
						The common language they all speak is english.

					</p>

				</div>

				<div class="col-md-4 text-center">

					<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '
						itemprop="ImageObject" itemscope="itemscope">
						<div class='avia-image-container-inner'>
							<img class='avia_image ' src="{% static 'images/icons/call.png' %}" alt=''
								title='world logo' itemprop="thumbnailUrl" style="height: 90px; width : 90px " />
						</div>
					</div>
					<h2 style="color: #7ac8d2ff; text-align: center;"> <strong> When will you host? </strong></h2>
					<p style="text-align: center; font-size: 20px">
						Our host program is available all the year, and the duration is between 6 to 8 weeks.
					</p>
				</div>


				<div class="col-md-4 text-center">

					<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '
						itemprop="ImageObject" itemscope="itemscope">
						<div class='avia-image-container-inner'>
							<img class='avia_image ' src="{% static 'images/icons/home.png' %}" alt=''
								title='inspire-ysf' itemprop="thumbnailUrl" style="height: 100px; width : 100px " />
						</div>
					</div>

					<h2 style="color: #7ac8d2ff; text-align: center;"> <strong> Who can host? </strong> </h2>
					<p style="text-align: center; font-size: 20px">
						Every family interested in hosting a foreign exchange participant, the only requirement is a
						family with all the housing standards and utilities (bathroom, bed, one meal,...ect), open
						minded and ready to share their culture.
						AIESEC will give assistance to the exchange participant; the host will only provide the
						necessities in the house.

					</p>

				</div>

			</div>
		</div>

	</div>
</div>


<div class="main_color fullsize" style="margin-top: 50px; width: 90%; margin: 0 auto">

	<div class="row justify-content-md-center">
		<div class="col-md-5">
			<img src="{% static 'images/pictures/HostMe.png' %}" alt='' title='picture of host family'
				style="height: 500px ; width: 500px; margin-top: 15px;  margin-bottom: 10px; background-color: #f17960ff  " />
		</div>

		<div class="col-md-6">
			<div style="align-content: right;  padding-top: 40px">

				<h1 style="margin-top: 0px; text-align: center; color: black ;">How can you be a host family?</h1>
				<div style="text-align: left; font-size: 23px;  height: 600px ; color: #00a1edff  ;  ">
					<p>
						1. Fill the form.</p>
					<p> 2. Fulfill the housing standards.</p>
					<p>3. Specify your availability for hosting.</p>
					<p>4. Wait for AIESEC to contact you.</p>
					<p>5. Schedule an interview with AIESEC.</p>
					<p>6. Wait for the answer.</p>
					<p>7. Wait for the exchange participants to come.</p>
					<p>8. Ready to host our exchange participant.</p>
				</div>


			</div>
		</div>
	</div>
</div>