{% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="AIESEC is a global youth-led organization striving to achieve peace and fulfillment of humankind’s potential by activating leadership qualities in youth." />
    <link rel="canonical" href="#" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#" />
    <meta property="og:site_name" content="AIESEC" />
    <meta property="og:image:secure_url" content="#" />
    <meta property="og:image:width" content="1030" />
    <meta property="og:image:height" content="773" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="AIESEC is a global youth-led organization striving to achieve peace and fulfillment of humankind’s potential by activating leadership qualities in youth." />
    <meta name="twitter:title" content="AIESEC in Algeria - Voluntary projects &amp; professional internships" />
    <meta name="twitter:image" content="#" />
    <meta name="google-site-verification" content="6LW90CeJrbAB-xoc_grA1pPQEja7s3xaN4saPplOy5Y" />
    <meta name="msapplication-TileImage" content="{% static 'images/icons/cropped-favicon-270x270.png' %}" />