{% load static %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-8">
			<div class='avia_textblock  '   itemprop="text" >
				<h2 style="text-align: center;">Our Partners
				</h2>
			</div>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-3">	
			<a href='https://hivedigit.com/' class='avia_image'   target="_blank" >
				<img class='avia_image ' src='https://hivedigit.com/images/logo-light.png' alt='HiveDigit Partner AIESEC in Algeria' title='HiveDigit'  itemprop="thumbnailUrl"  />
			</a>
		</div>
	</div>
</div>
