{% load static %}
<div id='our-process' class='alternate_color avia-no-shadow fullsize'>
    <div class='container'>
        <div class='row'>
                    <div style='height:70px' class='hr hr-invisible   avia-builder-el-75  el_before_av_one_half  avia-builder-el-first  '>
                        <span class='hr-inner '>
                            <span class='hr-inner-style'>
                            </span>
                        </span>
                    </div>
                  </div>
        <div class='row'>
                    <div class='col-sm-12 col-md-6'>
                            <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='avia_textblock  ' itemprop="text">
                                    <h2 style="text-align: left;">Our process
                                    </h2>
                                </div>
                            </section>
                            <div style=' margin-top:30px; margin-bottom:30px;' class='hr hr-custom hr-left hr-icon-no   avia-builder-el-78  el_after_av_textblock  el_before_av_textblock  '>
                                <span class='hr-inner   inner-border-av-border-thin' style=' width:100px; border-color:#037ef3;'>
                                    <span class='hr-inner-style'>
                                    </span>
                                </span>
                            </div>
                            <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='avia_textblock  ' style='font-size:15px; ' itemprop="text">
                                    <p style="text-align: left;">If you are thinking about doing an internship or voluntary work abroad, don&#8217;t hesitate to
                                        <a href="https://auth.aiesec.org/users/sign_in?country=Algeria#signup">sign-up.
                                        </a>
                                    </p>
                                    <p style="text-align: left;">After signing up, you will be contacted by one of our members. We will invite you to the office for a
                                        <strong> chat.
                                        </strong> During this chat, you can tell us what you like to do, where you want to go and when you would like to leave. We will also explain more about AIESEC and our process.
                                    </p>
                                    <p style="text-align: left;">After the chat, you can start
                                        <strong>applying
                                        </strong> through our
                                        <a href="www.aiesec.org/search.html">online portal
                                        </a>. In this portal, you can find thousand of projects for which you can very easily apply.
                                    </p>
                                    <p style="text-align: left;">Once you have found a project and you have been accepted, we will
                                        <strong>prepare
                                        </strong> you for your experience abroad and help you with the logistics.
                                    </p>
                                    <p style="text-align: left;">After your
                                        <strong>adventure abroad
                                        </strong>, we will do a reintegration seminar in which you reflect on your experience and we see you have developed your
                                        <strong>leadership qualities.
                                        </strong>
                                    </p>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-12 col-md-6" style='border-radius:0px; '>
                            <div class='avia-icon-list-container   avia-builder-el-81  avia-builder-el-no-sibling  jh_iconlist_homepage'>
                                <ul class='avia-icon-list avia-icon-list-left av-iconlist-big avia_animate_when_almost_visible'>
                                    <li>
                                        <div class='iconlist_icon'>
                                            <span class="typcn typcn-user-add-outline"></span>
                                            </span>
                                        </div>
                                        <article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='iconlist_content_wrap'>
                                                <header class="entry-content-header">
                                                    <h4 class='av_iconlist_title iconlist_title av_inherit_color ' itemprop="headline" style='color:#037ef3; font-size:18px; '>Sign up
                                                    </h4>
                                                </header>
                                                <div class='iconlist_content  ' itemprop="text" style='font-size:15px; '>
                                                    <p>Sign up through
                                                        <a href="https://auth.aiesec.org/users/sign_in?country=Algeria#signup">www.aiesec.org
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <footer class="entry-footer">
                                            </footer>
                                        </article>
                                        <div class='iconlist-timeline'>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='iconlist_icon'>
                                            <span class="typcn typcn-time"></span>
                                            </span>
                                        </div>
                                        <article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='iconlist_content_wrap'>
                                                <header class="entry-content-header">
                                                    <h4 class='av_iconlist_title iconlist_title av_inherit_color ' itemprop="headline" style='color:#037ef3; font-size:18px; '>Appointment
                                                    </h4>
                                                </header>
                                                <div class='iconlist_content  ' itemprop="text" style='font-size:15px; '>
                                                    <p>Your local AIESEC office will contact you to set up a meeting.
                                                    </p>
                                                </div>
                                            </div>
                                            <footer class="entry-footer">
                                            </footer>
                                        </article>
                                        <div class='iconlist-timeline'>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='iconlist_icon'>
                                            <span class="typcn typcn-zoom-outline"></span>
                                            </span>
                                        </div>
                                        <article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='iconlist_content_wrap'>
                                                <header class="entry-content-header">
                                                    <h4 class='av_iconlist_title iconlist_title av_inherit_color ' itemprop="headline" style='color:#037ef3; font-size:18px; '>Search & apply
                                                    </h4>
                                                </header>
                                                <div class='iconlist_content  ' itemprop="text" style='font-size:15px; '>
                                                    <p>Check out our
                                                        <a href="http://www.aiesec.org/search">online database
                                                        </a> and search through thousands of professional internships &#038; voluntary projects
                                                    </p>
                                                </div>
                                            </div>
                                            <footer class="entry-footer">
                                            </footer>
                                        </article>
                                        <div class='iconlist-timeline'>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='iconlist_icon'>
                                            <span class="typcn typcn-input-checked"></span>
                                        </div>
                                        <article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='iconlist_content_wrap'>
                                                <header class="entry-content-header">
                                                    <h4 class='av_iconlist_title iconlist_title av_inherit_color ' itemprop="headline" style='color:#037ef3; font-size:18px; '>Get matched
                                                    </h4>
                                                </header>
                                                <div class='iconlist_content  ' itemprop="text" style='font-size:15px; '>
                                                    <p>Found a project of your liking? Apply and get matched!
                                                    </p>
                                                </div>
                                            </div>
                                            <footer class="entry-footer">
                                            </footer>
                                        </article>
                                        <div class='iconlist-timeline'>
                                        </div>
                                    </li>
                                    <li>
                                        <div class='iconlist_icon'>
                                            <span class="typcn typcn-plane-outline"></span>
                                            </span>
                                        </div>
                                        <article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='iconlist_content_wrap'>
                                                <header class="entry-content-header">
                                                    <h4 class='av_iconlist_title iconlist_title av_inherit_color ' itemprop="headline" style='color:#037ef3; font-size:18px; '>Prepare & go!
                                                    </h4>
                                                </header>
                                                <div class='iconlist_content  ' itemprop="text" style='font-size:15px; '>
                                                    <p>We will prepare you for your experience abroad through a preparation seminar
                                                    </p>
                                                </div>
                                            </div>
                                            <footer class="entry-footer">
                                            </footer>
                                        </article>
                                        <div class='iconlist-timeline'>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close content main div -->
        </div>
    </div>
</div>