{% load static %}
				<div id='av_section_3' class='avia-section alternate_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-35  el_after_av_section  el_before_av_layout_row    container_wrap fullsize'   >
					<div class='container' >
						<div class='template-page content  av-content-full alpha units'>
							<div class='post-entry post-entry-type-page post-entry-55'>
								<div class='entry-content-wrapper clearfix'>
									<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
										<div class='avia_textblock  '   itemprop="text" >
											<h2 style="text-align: center; text-transform: inherit;">Our mission
											</h2>
											<h1 style="text-align: center; font-weight: 200; text-transform: inherit;">Why we do what we do?
											</h1>
										</div>
									</section>
								</div>
							</div>
						</div>
						<!-- close content main div -->
					</div>
				</div>
				<div id='av-layout-grid-1' class='av-layout-grid-container alternate_color av-flex-cells jh_productpage_videosection_homepage container_wrap fullsize'   >
					<div class="flex_cell no_margin avia-builder-el-last   jh_productpage_videosidebar  " style='vertical-align:top; padding:30px; '>
						<div class='flex_cell_inner' >
							<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
								<div class='avia_textblock  '   itemprop="text" >
									<p style="text-align: center;">We believe this generation has the chance to shape the world.
									</p>
									<p style="text-align: center;">AIESEC develops
										<strong>responsible and entrepreneurial
										</strong> leaders today who will choose how the world is led tomorrow. We do this by providing life changing
										<strong>practical leadership experiences
										</strong> to ambitious students.
									</p>
									<p style="text-align: center;">How would
										<strong>you
										</strong> shape the world?
									</p>
								</div>
							</section>
							<div class='avia-button-wrap avia-button-center  avia-builder-el-42  el_after_av_textblock  avia-builder-el-last  '>
								<a href='https://aiesec.org/about-us' class='avia-button   avia-icon_select-no avia-color-theme-color avia-size-large avia-position-center '   >
									<span class='avia_iconbox_title' >Read more
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>