{% load static %}
<div id='av-layout-grid-2' class='avia-section main_color avia-section-large avia-no-shadow avia-bg-style-scroll el_after_av_section el_before_av_section container_wrap fullsize'   >
	<div class='container' >
		<div class='template-page content  av-content-full alpha units'>
			<div class='post-entry post-entry-type-page post-entry-55'>
				<div class='entry-content-wrapper clearfix'>
					<div class="flex_column av_one_full  flex_column_div av-zero-column-padding first  avia-builder-el-45  el_before_av_hr  avia-builder-el-first  " style='border-radius:0px; '>
						<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
							<div class='avia_textblock  '   itemprop="text" >
								<h2 style="text-align: center;">Our services</h2>
								<h1 style="text-align: center; font-weight: 200;">Feel at ease with our exchange services</h1>
							</div>
						</section>
					</div>
					<div style='height:35px' class='hr hr-invisible   avia-builder-el-47  el_after_av_one_full  el_before_av_one_fifth  '>
						<span class='hr-inner ' >
							<span class='hr-inner-style'>
							</span>
						</span>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding first  avia-builder-el-48  el_after_av_hr  el_before_av_three_fifth  " style='border-radius:0px; '>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding   avia-builder-el-51  el_after_av_three_fifth  el_before_av_hr  " style='border-radius:0px; '>
						<div class='avia-image-container  av-styling-    avia-builder-el-52  avia-builder-el-no-sibling   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
							<div class='avia-image-container-inner'>
								<img class='avia_image ' src="{% static 'images/icons/aiesec_logisitic_support.svg' %}" alt='' title='AIESEC_logisitic_support'   itemprop="thumbnailUrl"  />
							</div>
						</div>
					</div>
					<div class="flex_column av_three_fifth  flex_column_div av-zero-column-padding   avia-builder-el-49  el_after_av_one_fifth  el_before_av_one_fifth  " style='border-radius:0px; '>
						<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
							<div class='avia_textblock  '   itemprop="text" >
								<h3 style="text-align: left;">Logistics Support
								</h3>
								<p style="text-align: left;">We ensure you get the right visa, arrival pick-up information before your experience and departure instructions post-experience.
								</p>
							</div>
						</section>
					</div>

					<div style='height:35px' class='hr hr-invisible   avia-builder-el-53  el_after_av_one_fifth  el_before_av_one_fifth  '>
						<span class='hr-inner ' >
							<span class='hr-inner-style'>
							</span>
						</span>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding first  avia-builder-el-54  el_after_av_hr  el_before_av_three_fifth  " style='border-radius:0px; '>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding   avia-builder-el-57  el_after_av_three_fifth  el_before_av_hr  " style='border-radius:0px; '>
						<div class='avia-image-container  av-styling-    avia-builder-el-58  avia-builder-el-no-sibling   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
							<div class='avia-image-container-inner'>
								<img class='avia_image ' src="{% static 'images/icons/aiesec_clear_job_description.svg' %}" alt='' title='AIESEC_clear_job_description'   itemprop="thumbnailUrl"  />
							</div>
						</div>
					</div>
					<div class="flex_column av_three_fifth  flex_column_div av-zero-column-padding   avia-builder-el-55  el_after_av_one_fifth  el_before_av_one_fifth  " style='border-radius:0px; '>
						<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
							<div class='avia_textblock  '   itemprop="text" >
								<h3 class="info-head" style="text-align: left;">Clear job description
								</h3>
								<p style="text-align: left;">We accompany you to the workplace on the first day, ensure your job description and goals are clear, and working hours/duration align to the initial description.
								</p>
							</div>
						</section>
					</div>
					<div style='height:35px' class='hr hr-invisible   avia-builder-el-59  el_after_av_one_fifth  el_before_av_one_fifth  '>
						<span class='hr-inner ' >
							<span class='hr-inner-style'>
							</span>
						</span>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding first  avia-builder-el-60  el_after_av_hr  el_before_av_three_fifth  " style='border-radius:0px; '>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding   avia-builder-el-63  el_after_av_three_fifth  el_before_av_hr  " style='border-radius:0px; '>
						<div class='avia-image-container  av-styling-    avia-builder-el-64  avia-builder-el-no-sibling   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
							<div class='avia-image-container-inner'>
								<img class='avia_image ' src="{% static 'images/icons/aiesec_safe_living_conditions.svg' %}" alt='' title='AIESEC_safe_living_conditions'   itemprop="thumbnailUrl"  />
							</div>
						</div>
					</div>

					<div class="flex_column av_three_fifth  flex_column_div av-zero-column-padding   avia-builder-el-61  el_after_av_one_fifth  el_before_av_one_fifth  " style='border-radius:0px; '>
						<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
							<div class='avia_textblock  '   itemprop="text" >
								<h3 style="text-align: left;">Safe living conditions
								</h3>
								<p style="text-align: left;">Travel and health insurance is mandatory for taking part in AIESEC. You will get information about accommodation and basic living costs.
								</p>
							</div>
						</section>
					</div>					<div style='height:35px' class='hr hr-invisible   avia-builder-el-65  el_after_av_one_fifth  el_before_av_one_fifth  '>
						<span class='hr-inner ' >
							<span class='hr-inner-style'>
							</span>
						</span>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding first  avia-builder-el-66  el_after_av_hr  el_before_av_three_fifth  " style='border-radius:0px; '>
					</div>
					<div class="flex_column av_one_fifth  flex_column_div av-zero-column-padding   avia-builder-el-69  el_after_av_three_fifth  avia-builder-el-last  " style='border-radius:0px; '>
						<div class='avia-image-container  av-styling-    avia-builder-el-70  avia-builder-el-no-sibling   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
							<div class='avia-image-container-inner'>
								<img class='avia_image ' src="{% static 'images/icons/aiesec_learning_experience.svg' %}" alt='' title='AIESEC_learning_experience'   itemprop="thumbnailUrl"  />
							</div>
						</div>
					</div>
					<div class="flex_column av_three_fifth  flex_column_div av-zero-column-padding   avia-builder-el-67  el_after_av_one_fifth  el_before_av_one_fifth  " style='border-radius:0px; '>
						<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
							<div class='avia_textblock  '   itemprop="text" >
								<h3 style="text-align: left;">Learning experience
								</h3>
								<p style="text-align: left;">We set clear expectations, provide cultural preparation and facilitate learning spaces before and during experiences.
								</p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>