{% load static %}
				<div id='students' class='avia-section main_color avia-section-large avia-no-shadow avia-bg-style-scroll container_wrap fullsize' style = 'background-color: #ffffff; '  >
					<div class='container' >
						<div class='template-page content  av-content-full alpha units'>
							<div class='post-entry post-entry-type-page post-entry-55'>
								<div class='entry-content-wrapper clearfix'>
									<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
										<div class='avia_textblock  '   itemprop="text" >
											<h2 style="text-align: center; text-transform: inherit;">Our products
											</h2>
											<h1 style="text-align: center; font-weight: 200; text-transform: inherit;">Voluntary projects &#038; Professional internships
											</h1>
										</div>
									</section>
									<div style='height:50px' class='hr hr-invisible   avia-builder-el-22  el_after_av_textblock  el_before_av_one_third '>
										<span class='hr-inner ' >
											<span class='hr-inner-style'>
											</span>
										</span>
									</div>
									<div class='flex_column_table av-equal-height-column-flextable' >
										<div class="flex_column av-animated-generic fade-in  flex_column_table_cell av-equal-height-column av-align-top first  avia-builder-el-23  el_after_av_hr  el_before_av_one_third  product_information_gv " style='padding:20px; border-radius:2; '>
											<div class='avia-image-container  av-styling-    avia-builder-el-24  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
												<div class='avia-image-container-inner'>
													<a href="{% url 'gv' %}" class='avia_image'  >
														<img class='avia_image ' src="{% static 'images/logos/gv-logo.png' %}" alt='Global Volunteer logo Red' title='Global Volunteer logo Red 3'  itemprop="thumbnailUrl"  />
													</a>
												</div>
											</div>
											<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
												<div class='avia_textblock  '  style='font-size:15px; '  itemprop="text" >
													<p style="text-align: center;">Are you ambitious and do you believe you can make a positive impact on our world? Well, we believe you can! Volunteer abroad and contribute to one of the UN Sustainable Development Goals.
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Duration
														</strong>
														<br />
														6 &#8211; 12 weeks
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Organisation
														</strong>
														<br />
														NGO and non-profit organisations
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Compensation
														</strong>
														<br />
														No
													</p>
												</div>
											</section>
											<div class='avia-button-wrap avia-button-center  avia-builder-el-26  el_after_av_textblock  avia-builder-el-last  '>
												<a href="{% url 'gv' %}" class='avia-button   avia-icon_select-no avia-color-custom avia-size-large avia-position-center '  style='background-color:#f85a40; border-color:#f85a40; color:#ffffff; ' >
													<span class='avia_iconbox_title' >Read more
													</span>
												</a>
											</div>
										</div>
										<div class='av-flex-placeholder'>
										</div>
										<div class="flex_column av-animated-generic fade-in  flex_column_table_cell av-equal-height-column av-align-top   avia-builder-el-27 product_information_ge " style='padding:20px; border-radius:2; '>
											<div class='avia-image-container  av-styling-    avia-builder-el-28  el_before_av_textblock  avia-builder-el-first  avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
												<div class='avia-image-container-inner'>
													<img class='avia_image ' src="{% static 'images/logos/ge-logo.png' %}" alt='Global Entrepreneur logo Green 3' title='Global Entrepreneur logo Green'   itemprop="thumbnailUrl"  />
												</div>
											</div>
											<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
												<div class='avia_textblock  '  style='font-size:15px; '  itemprop="text" >
													<p style="text-align: center;">Does a dynamic, fast-paced work environment excite you? Begin your entrepreneurial journey with an internship at a startup and expand your network for the future!
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Duration
														</strong>
														<br />
														6 &#8211; 12 weeks
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Organisation
														</strong>
														<br />
														Start-up
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Compensation
														</strong>
														<br />
														No
													</p>
												</div>
											</section>
											<div class='avia-button-wrap avia-button-center  avia-builder-el-30  el_after_av_textblock  avia-builder-el-last  '>
												<a href="{% url 'ge' %}" class='avia-button   avia-icon_select-no avia-color-custom avia-size-large avia-position-center '  style='background-color:#2fc29e; border-color:#2fc29e; color:#ffffff; ' >
													<span class='avia_iconbox_title' >Read more
													</span>
												</a>
											</div>
										</div>
										<div class='av-flex-placeholder'>
										</div>
										<div class="flex_column  av-animated-generic fade-in  flex_column_table_cell av-equal-height-column av-align-top   avia-builder-el-31 avia-builder-el-last  product_information_gt " style='padding:20px; border-radius:2; '>
											<div class='avia-image-container  av-styling-    avia-builder-el-32  el_before_av_textblock  avia-builder-el-first  avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
												<div class='avia-image-container-inner'>
													<img class='avia_image ' src="{% static 'images/logos/gt-logo.png' %}" alt='Global Talent logo Blue 3' title='Global Talent logo Blue'   itemprop="thumbnailUrl"  />
												</div>
											</div>
											<section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
												<div class='avia_textblock  '  style='font-size:15px; '  itemprop="text" >
													<p style="text-align: center;">Searching for the next opportunity to develop yourself and gain professional experience? Differentiate yourself through an international internship and develop your leadership potential!
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Duration
														</strong>
														<br />
														3 &#8211; 18 months
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Organisation
														</strong>
														<br />
														Company
													</p>
													<p style="text-align: center;">
														<strong style="color: #b6b6b6; text-transform: uppercase; font-size: 12px;">Compensation
														</strong>
														<br />
														Yes
													</p>
												</div>
											</section>
											<div class='avia-button-wrap avia-button-center  avia-builder-el-34  el_after_av_textblock  avia-builder-el-last  '>
												<a href="{% url 'gt' %}" class='avia-button   avia-icon_select-no avia-color-custom avia-size-large avia-position-center '  style='background-color:#0a8ea0; border-color:#0a8ea0; color:#ffffff; ' >
													<span class='avia_iconbox_title' >Read more
													</span>
												</a>
											</div>
										</div>
									</div>
									<!--close column table wrapper. Autoclose: 1 -->
								</div>
							</div>
						</div>
						<!-- close content main div -->
					</div>
				</div>