{% load static %}
{% block css %}
	<link rel='stylesheet'  href="{% static 'css/y4gg.css' %}" type='text/css'/>
{% endblock %}

<div class='main_color fullsize'>

	<div class='container' >
		<div class='content'>
			<div class="row justify-content-md-center" style="text-align: center; max-width: 85%; margin: 0 auto">
        <div class="col-md-12 text-center mt-4">
			<section class="av_textblock_section">
				<div class='avia_textblock'>
				<h1 style="text-align: center; color: black ; font-size: 50px; font-weight: bolder; ">Youth & The Global Goals</h1>
				<p style=" padding-top: 30px ; line-height: 2; font-size: 18px; text-align: center; ">
			     In December 2015, AIESEC’s young global leaders and representatives from its 126 countries and territories gathered at the United Nations Headquarters to promote and drive youth participation in the implementation of the Sustainable Development Goals (SDGs) by creating Youth 4 Global Goals initiative. Youth 4 Global Goals is an AIESEC Initiative through which we aim to mobilize youth towards the implementation of the Sustainable Development Goals. Our initiative aims to educate youth about the SDGs and provide practical volunteering opportunities to unleash their potential while being an active world citizen.
				</p>
				</div>
			</section>
</div>
</div>


            <div class="row justify-content-md-center" style="max-width: 90%; margin : 0 auto ; padding-top: 50px">
        <div class="col-md-4 text-center">
			
					<div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center '  itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject"  >
						<div class='avia-image-container-inner'>
                    <img class='avia_image ' src="{% static 'images/icons/awar.png' %}" alt='' title='world logo' itemprop="thumbnailUrl" style="height: 100px; width : 100px " />
                    </div>
                    </div>

                    <section class="av_textblock_section "  itemscope="itemscope" itemtype="https://schema.org/CreativeWork" >
					<h2 style="color: #f85a40ff"> <strong> Awareness	</strong></h2>
					<p style="font-size: 20px">
						55% of youth are not aware of the Sustainable Development Goals, according to YouthSpeak Survey. By running advocacy campaigns we aim to reach every young person to know about the 17 goals and their impact by 2030.
					</p>
					<a href='https://youth4globalgoals.org/learn-about-the-goals/' class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-button-center'  style="background-color: #f85a40ff " >
						<span class='avia_iconbox_title'>Learn about the Goals</span>
					</a>
				</section>
			</div>
			 <div class="col-md-4 text-center">
			
					
						 <div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center ' itemprop="ImageObject" itemscope="itemscope">
						<div class='avia-image-container-inner'>
                    <img class='avia_image ' src="{% static 'images/icons/und.png' %}" alt='' title='world logo' itemprop="thumbnailUrl" style="height: 100px; width : 100px " />
                </div>
            </div>
					<h2 style="color:#4a9b35ff "> <strong> Understanding	</strong></h2>
				<p style="font-size: 20px">
						We help young people to understand their role and contribution to achieve the Goals. We do it through YouthSpeak Forums on global, national and local levels which engage delegates in creating solutions to contribute to the SDGs.
					</p>
					<a href="{% url 'ysf' %}" class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-button-center'  style=" background-color: #4a9b35ff " >
						<span class='avia_iconbox_title' > YouthSpeak Forum </span>
					</a>					
		     </div>
			
			 <div class="col-md-4 text-center">
					
						 <div class='avia-image-container  av-styling-    avia-builder-el-15  el_before_av_textblock  avia-builder-el-first   avia-align-center ' itemprop="ImageObject" itemscope="itemscope">
						<div class='avia-image-container-inner'>
                    <img class='avia_image ' src="{% static 'images/icons/action.png' %}" alt='' title='world logo' itemprop="thumbnailUrl" style="height: 100px; width : 100px " />
                </div>
            </div>
					<h2 style="color: #037ef3ff"> <strong> Action	</strong></h2>
					<p style="font-size: 20px">
						We provide volunteering opportunities globally and locally to contribute to a cause you believe in. Annually, we facilitate 40.000 volunteering experiences in more 120+ countries and territories that contribute to the SDGs.
					</p>
					<a href="{% url 'gv' %}" class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-button-center'   >
						<span class='avia_iconbox_title'> Take Action </span>
					</a>					
				</div>
			</div>
				</div>
		
	</div>


		<div style='height:50px' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		</div>
		<!-- close content main div -->
	</div>
</div>
<div class="main_color avia-full-stretch av-section-color-overlay-active fullsize" style="background-repeat: no-repeat; background-image: url({% static 'images/pictures/me1.png' %}); background-attachment: scroll; background-position: center right; color: #fff;">
		<div class='container' >
		<div class='content'>
			<section class="av_textblock_section">
				<div class='avia_textblock'>
		<div style='height:50px' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		</div>
	<h1 style="color: #fff;">
		Act for Responsible Consumption!
	</h1>
	<p>
		How will you contribute to reducing food waste? Through AIESEC, we are working on many new initiatives together with Electrolux Food Foundation and Worldchefs to support it! We launched the Food Heroes toolkit ánd opened a lot of new voluntary  projects all over the world for December-February 2019. Will you take action?
	</p>
		<h1 style="color: #fff;">Learn about the Goals</h1>
	<p>
		Adopted by the 193 countries, 17 Global Goals aim to end to extreme poverty, inequality and climate change by 2030. With over 1.8 billion young people globally, we have an active role to play. Start by learning about the Goals and how they impact your life.
	</p>
	<h1 style="color: #fff;"> YouthSpeak Forum </h1>
	<p>Want to hear more about the SDGs from business, government and NGO leaders? You have a chance to co-create solutions towards the most important issues in your local community by participating in one of our YouthSpeak Forums around the world.</p>
<div  style='border-radius:0px; '>
	
		<a href="{% url 'ysf' %}" class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-position-right '   >
			
			<span class='avia_iconbox_title'> Click here to find more about YouthSpeak Forum
			</span>
		</a>
		<div style='height:50px;' class='hr hr-invisible  el_before_av_one_half  '>
			<span class='hr-inner'><span class='hr-inner-style'></span></span>
		</div>
</div>
</div>
</section>
</div>
</div>
</div>

	<!--
	<p>
		The second Youth 4 Global Goals: The Series sponsored by PwC presenting Youth taking actions for achieving the Sustainable Development Goals all over the world! Follow the stories of 9 volunteers, in 9 countries, with 1 common purpose: Acting for the Sustainable Development Goals
	</p>
	 <div class="flex_column av_one_fourth  flex_column_div av-zero-column-padding   avia-builder-el-7  el_after_av_one_fourth  el_before_av_one_fourth  " style='border-radius:0px; '>
										<div class='avia-button-wrap avia-button-right  avia-builder-el-8  avia-builder-el-no-sibling  '>
											<a href='#' class='avia-button av-icon-on-hover  avia-icon_select-yes-left-icon avia-color-theme-color avia-size-x-large avia-position-right '   >
												<span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'>
												</span>
												<span class='avia_iconbox_title' > See all Episodes 
												</span>
											</a>
										</div>
									</div>
	-->


</div>
</body>
</html>
