{% extends 'main/base.html' %}
{% load static %}
{% block title %}Leaders for the world{% endblock %}
{% block content-1 %}
{% include 'main/includes/header-video.html' %}
{% endblock %}
{% block content-2 %}
{% include 'main/includes/our-products.html' %}
{% include 'main/includes/y4gg-intro.html' %}
{% include 'main/includes/our-mission.html' %}
{% include 'main/includes/our-services.html' %}
{% include 'main/includes/our-process.html' %}
{% include 'main/includes/our-partners.html' %}
{% endblock %}
{% block content-3 %}
{% include 'main/includes/sign-up-now.html' %}
{% endblock %}