{% extends 'main/base.html' %}
{% load static %}
{% block meta-tags %}
<meta property="og:description" content="Join the largest youth-run organization in the world">
<meta property="og:image" content="https://i.ibb.co/HKG9YGq/aiarec.png">
{% endblock %}
{% block title-meta %} Join AIESEC {% endblock %}
{% block title %} Join AIESEC {% endblock %}
{% block content-1 %}
{% include 'main/includes/header-joinA.html' %}
{% endblock %}
{% block content-2 %}
{% include 'main/includes/joinA-body.html' %}
{% endblock %}
{% block content-3 %}
{% endblock %}