{% extends 'main/base.html' %}
{% load static %}
{% block content-1 %}
<div style='height:100px' class='hr hr-invisible   avia-builder-el-88  el_after_av_textblock  el_before_av_one_half  '>
	<span class='hr-inner ' >
		<span class='hr-inner-style'>
		</span>
	</span>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h2>Guideline</h2>
			<h4>Comment</h4>
			<p>Talk about your experience, how it was.</p>
			<h4>Attachements</h4>
			<p>Link to a google drive folder containing all your pictures and videos for the testimonial.</p>
			<h4>Secret Key</h4>
			<p>The secret key that was given to you by your EP Manager. If you don't have one, contact your EP Manager.</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<h2>Submit your testimonial</h2>
			{% csrf_token %}
			<form class="form">
				 {{form.as_p}}
				 <label>Secret Key:</label>
				 <input type="text" name="tkey">
				 <button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block content-2 %}
{% endblock %}
{% block content-3 %}
{% endblock %}